<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Good Tooth</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="icon" type="image/x-icon" href="img/Dental.png" />
</head>
<body>
  <div class="contenedor">
    <header class="header">
      <div class="logo">
        <p>good<span>Tooth</span></p>
      </div>
      <div class="diente">
        <img src="img/menu.png" alt="">
      </div>
      <nav class="menu">
        <ul class="navegacion">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Producto</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a target="_blank" href="/login" class="form_contact">Login</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <aside class="presentacion">
    <div class="informacion">
      <h1>Adquiere tus preferencias para tu salud dental</h1>
      <div>
        <p>Good Tooth es un servicio que permite atender a la compra de tus productos dentales,</p>
        <p>Siempre estamos dispuesto a cualquier del producto que usted elija</p>
      </div>
      <div class="informacion--boton">
        <button type="button">Exploracion dental</button>
      </div>
    </div>
    <div class="presentacion--imagen">
      <img src="img/FD.jpg" alt="imagen presentacion">
    </div>
  </aside>
  <main class="michi">
    <h2 class="michi--titulo">Dental Tools</h2>
    <div class="tools">
      <article class="Moi">
        <img src="img/CP.jpg" alt="">
        <h1>Cepillo de Dientes</h1>
        <p>Producto para limpiar tus dientes libre de caries</p>
        <div class="Moi--info">
          <p>4$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/CD.jpg" alt="">
        <h1>Crema Dental</h1>
        <p>Combate las bacterias que causan la placa en dientes</p>
        <div class="Moi--info">
          <p>3$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/EB.jpg" alt="">
        <h1>Enjuague Bucal</h1>
        <p>Producto para combatir el mal aliento</p>
        <div class="Moi--info">
          <p>2$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/HD.jpg" alt="">
        <h1>Hilo Dental</h1>
        <p>Producto para eliminar las placas y particulas de comida</p>
        <div class="Moi--info">
          <p>1$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
    </div>
  </main>
</body>
</html>




