<style type="text/css">
	body{

		background-image:url(jh.jpg);
		background-attachment: fixed;
		background:cover;
	}
</style>
<body>

<h1 style='margin-left:25%;line-height:450px'>Vuelve a ingresar tus datos, eres un escuincle por eso no sabes nada de programación XD</h1>
</body>